[build]
builder = "DOCKERFILE"
dockerfilePath = "Dockerfile"

[deploy]
startCommand = "/init"
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10

# Puerto principal para Plex
[[deploy.serviceMesh]]
name = "plex"
port = 32400

# Puerto secundario para el Gestor de Archivos
[[deploy.serviceMesh]]
name = "file-manager"
port = 9090

# Volúmenes persistentes
# NOTA: Usamos "Single Volume Strategy". La config se guardará en /data/.plex-config
[[deploy.volumes]]
mountPath = "/data"
name = "plex-data"
