:{$PORT} {
    # El explorador de archivos tiene prioridad absoluta
    handle /manage* {
        reverse_proxy 127.0.0.1:8080
    }

    # Todo lo demás va a Plex
    handle /* {
        reverse_proxy 127.0.0.1:32400
    }
}
