{
    "admin": "off"
}

:{$PORT} {
    # File Browser en /manage (Mantenemos el prefijo porque File Browser lo gestiona internamente)
    handle /manage* {
        reverse_proxy localhost:8080
    }

    # Todo lo demás a Plex
    handle /* {
        reverse_proxy localhost:32400
    }
}
